## cowprompt configuration file. Uses standard xcowsay options (see man xcowsay
## for more details.

## How long to display the prompt in seconds. A value of zero displays until the
## prompt is clicked. This value overrides any value for reading_speed below
display_time = 0

## Number of milliseconds to display the prompt for each word in the input text.
# reading_speed = 

## Size of the default cow image. Choices are small, med, or large.
cow_size = small

## If desired, uncomment and input the location of an alternative image
## to be used instead of the default cow image.
# alt_image = IMAGE.PNG

## Specify font for the prompt text. Accepts Pango font strings.
# font = 

## Coordinates (X,Y) at which to display the prompt. Default is (0,0), i.e. the
## top left of the screen.
at_x = 0
at_y = 0

## Change position of text bubble relative to where it would normally appear.
## (format (x,y).
# bubble_x = 
# bubble_y = 

## Disable word wrapping when the bubble is too wide to fit on the screen.
## Valid options are true or false.
# wrap = true

## Close window on release event instead of press.
# close_event = button-release-event

